body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #555;
    margin-left: 0px;
    margin-right: 0px;
}

main{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    background-color: #eee;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    margin: 10px;
    align-items: center;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
    justify-content: center;
}

a{
    outline: none;
    text-decoration: none;
}

a:link{
    color: #666666;
}
a:visited{
    color: #666666;
}


button{
    background: #eee;
    border-radius: 10px;
    color: #555;
    font-size: 100%;
    margin:30px;
    padding: 10px;
    border-width: 2px;
    border-style: outset;
}